@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  .n-config-provider {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif !important; 
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: #EEF2F9;
  }

  .n-button,
  .n-input,
  .n-select,
  .n-checkbox,
  .n-modal,
  .n-card,
  .n-base-selection,
  .n-base-selection-input,
  .n-base-select-option {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  }
  
  /* -------------------------------------- */
  /* --- Custom Global Scrollbar Styles --- */
  /* -------------------------------------- */

  ::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #CCCCCC; 
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-track {
    background: #EEF2F9;
  }

  * {
    scrollbar-width: thin; 
    scrollbar-color: #CCCCCC #EEF2F9; 
  }
}