# Node.js / Frontend
node_modules/
dist/
.vite/

# Python / Backend
__pycache__/
*.py[cod]
.venv/
env/
ENV/
*.env
backend/.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Docker
pgdata/
docker-compose.override.yml

# OS / IDE
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
.vscode/*
!.vscode/extensions.json

# Miscellaneous
*.sqlite3
*.db
*.sqlite
*.local

# Editor/project files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?