@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body.announcements-page {
    margin: 0;
    height: 100vh;
    weight: 100vw;
    background: radial-gradient(circle at top left, #3291E3 0%, #ffffff 44%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
