@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* Set Poppins as the default font for the entire application */
    font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: white;
  }

  ::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #03335C;
  }

  * {
    scrollbar-width: thin; 
    scrollbar-color: #CCCCCC transparent; 
  }
}