html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body.display-page {
  background: radial-gradient(circle at top left, #3291E3 0%, #ffffff 44%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: local;
  font-family: 'Poppins', sans-serif;
}

#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

